html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: aliceblue;
    margin: auto;
    width: 1200px;
    height: 100%;
    padding-bottom: 50px;
}

.center-text {
    /*background-color: blueviolet;*/
    text-align: center;
}

.right-text {
    text-align: right;
}

.right-left {
    text-align: left;
}

.info-section {
    padding-left: 270px; /*180 without td padding (in tables.css)*/
}

ul {
    list-style: none;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: underline;
    color: black;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 15px;
    height: 20px;
    width: 100%;
    overflow: hidden;
}

.datetime {
    padding-left: 310px;
}

.dtp_modal-content {
    top: 100px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }