table {
    margin: auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    width: 200px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    background-color: #3a88d1;
}

td {
    padding: 5px;
}

.double-size-table {
    width: 411px; /*603 without td padding*/
}

.worked {
    width: 150px;
}

.totalwork {
    padding-top: 13px;
}

.timetable {
    padding-bottom: 12px;
}