{% extends 'layout.html' %}

{% block body %}
<div class='center-text'>
    <h1>Work time table</h1>
</div>
<div class='info-section'>
    <ul>
        <li>
            User <a href='https://www.github.com/{{ username }}'>{{ username }}</a>
        </li>
        <li>
            Working on <a href='{{ url }}'>{{ url }}</a>
        </li>
        <li>
            <button type="button" id="timebutton">Add time</button>
        </li>
    </ul>
</div>
<div id='table-section'>

</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment-with-locales.min.js"></script>
<script src="{{ url_for('static',filename='js/main.js') }}"></script>
<script src="{{ url_for('static',filename='js/datetimepicker.js') }}"></script>
<script src="{{ url_for('static',filename='js/table.js') }}"></script>
<script src="{{ url_for('static',filename='js/tingle.js') }}"></script>
<script src="{{ url_for('static',filename='js/modalAddTime.js') }}"></script>
<script src="{{ url_for('static',filename='js/modalEditTime.js') }}"></script>

{% endblock %}